.header {
  grid-area: header;
  position: relative;
  z-index: 2;
}


.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100px;
}

.left_box {
  display: flex;
  align-items: center;
  gap: 20px;
}