.title {
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 4.5rem;
  text-align: center;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-top: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@keyframes line {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  height: 340px;
  &::before {
    content: '';
    position: absolute;
    width: 2304px;
    height: 493px;
    background: url('/images/line_main.svg') no-repeat;
    top: 83px;
    left: calc(50% - 1350px);
    z-index: 0;
    animation: line 3s ease-out;
  }
  &::after {
    content: '';
    position: absolute;
    width: 21.25rem;
    height: 21.25rem;
    background: url('/images/planets.svg') no-repeat;
    background-size: contain;
    top: 0;
    left: calc(50% - 10.625rem);
    z-index: 0;
  }
}

@media screen and (max-width: 1400px) {
  .option {
    padding-top: 3rem;
    &::before {
      top: 63px;
    }
    &::after {
      top: 5px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .option {
    &::before {
      display: none;
    }
  }

}

@media screen and (max-width: 768px) {
  .option {
    padding-top: 1rem;
  }
}

.option_line {
  position: relative;
  z-index: 1;
  & > *:first-child {
    margin-right: 11.25rem;
  }
}
.option_line_1 {
  & > *:first-child {
    margin-right: 1.25rem;
  }
}

.option_item {
  display: inline-flex;
  opacity: 0;
  background: var(--btn-gradient);
  padding: 1px;
  border-radius: 2.125rem;
  margin-bottom: 1.875rem;
  overflow: hidden;
  z-index: 1;
  position: relative;
  float: left;
  &:last-child {
    float: right;
  }
}

@media screen and (max-width: 576px) {
  .option_item {
    margin-right: 0 !important;
  }

}

.option_item_content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.32rem;
  padding: 0.75rem 1rem;
  background: var(--background);
  position: relative;
  border-radius: 2.125rem;
}

.option_item_text {
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.65rem;
  text-align: center;
}

@keyframes item1 {
  0% {
    transform: translateX(-270px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes item2 {
  0% {
    transform: translateX(270px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.item1.active {
  opacity: 1;
  animation: item1 1s ease-out;
}
.item2.active {
  opacity: 1;
  animation: item2 1s ease-out;
  
}
.item3.active {
  opacity: 1;
  animation: item1 1s ease-out;
}
.item4.active {
  opacity: 1;
  animation: item2 1s ease-out;
}