.wrap {
  padding: 2.5rem 0 8.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}


.white {
  padding-top: 8.75rem;
  background: var(--white);
  color: var(--black-text);
}

@media screen and (max-width: 1400px) {
  .wrap {
    padding: 0 0 2rem;
    gap: 1.5rem;
  }
  .white {
    padding-top: 5rem;
    background: var(--white);
    color: var(--black-text);
  }
}