.wrap {
  background: var(--white);
  padding: 11.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  color: #21272A;
  
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 400px;
}

.item_header {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.item_header_title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.65rem;
  white-space: pre-wrap;
}

.item_description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
  text-align: left;
  color: #21272AB2;

  & > b {
    font-weight: 700;

  }
}

.currenciesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
}

.currencies_title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  text-align: center;
  white-space: pre-wrap;
}
.currencies {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.currency {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: #21272A;
  text-transform: uppercase;
}

.currency_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid #21272A;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  &.small {
    width: 72px;
    height: 72px;
    margin-bottom: 0.625rem;
  }
}

.currency_name {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 19.0.5rem;
  text-align: center;
}