.footer {
  grid-area: footer;
  border-top: 1px solid var(--white);
  padding: 4.875rem 0 4.5rem;
  overflow: hidden;
  position: relative;
  background: var(--background);
  z-index: 2;
  
  &::before {
    content: '';
    position: absolute;
    top: 0.625rem;
    left: calc(50% - 1340px);
    width: 1000px;
    height: 900px;
    background: url('/images/bg_footer_left.svg') no-repeat center;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    top: -81px;
    right: calc(50% - 1400px);
    width: 970px;
    height: 900px;
    background: url('/images/bg_footer_right.svg') no-repeat center;
    z-index: 1;
  }
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .info {
    display: none;
  }
}
