.box {
  position: relative;
}

.btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 50%;
  border: 2px solid var(--white);
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover, &.active {
    border: 0px solid var(--white);
    background: var(--btn-gradient);   
    transition: background-color 0.7s;
  }
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.list {
  display: none;
  flex-direction: column;
  gap: 1.25rem;
  top: calc(100% + 1.25rem);
  position: absolute;
  left: 0;
  width: 15.875rem;
  border-radius: 1.5rem;
  padding: 1.25rem;
  background: var(--background);
  border: 2px solid #FFFFFF;
  opacity: 0;
  transition: opacity 0.3s;

  &.show {
    display: flex;
    opacity: 1;
    transition: opacity 0.7s;
  }
}

.list_text {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 2%;
  opacity: 0.8;
  transition: opacity 0.3s;
  &.link{
    &.active {
      opacity: 1;
    }
    &:hover {
    opacity: 1;
    transition: opacity 0.7s;

  }}
}

@media screen and (max-width: 1200px) {
  .list {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    border: 0;
  }
}