.row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
}

.black {
  .text {
    color: #000000;
  }
  .row {
    border-bottom: 1px solid rgba(11, 11, 15, 0.3);
  }
}

.column_1 {
  width: 14.375rem;
  white-space: pre-wrap;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
  text-align: left;

}
.columns_group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.columns {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: url('/images/dashed-line.svg') no-repeat center;
    background-size: cover;
  }
  &:last-child::after {
    display: none;
  }
}

.column {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.19rem;


  &:first-child {
    text-align: left;
  }

  & b {
    font-weight: 700;
  }
}

.text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--white);
  opacity: 0.5;
}

.name {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}