.wrap {
  padding-top: 6.25rem;
  padding-bottom: 12.94rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    background: url('/images/workflow_line.svg') no-repeat center bottom;
    bottom: 80px;
    right: calc(50% + 95px);
    width: 1154px;
    height: 877px;
  }
}
.info {
  margin-bottom: 4.375rem;
}
.preview {
  margin-bottom: 4.375rem;
}

.options {
  display: flex;
  justify-content: space-between;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 32%;
    background: var(--btn-gradient);
    opacity: 0.5;
    z-index: -1;

  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 33%;
    background: var(--btn-gradient);
    opacity: 0.5;
    z-index: -1;
  }
}

@media screen and (max-width: 1400px) {
  .options {
    gap: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .options {
    flex-direction: column;
    align-items: center;
  }
  
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .column {
    flex-direction: row;
    &:last-child {
      padding-top: 150px;
    }
  }
}

.option {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  max-width: 420px;
}

@media screen and (max-width: 992px) {
  .option {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.option_title {
  padding-top: 0.625rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
}
.option_description {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;

  letter-spacing: 0.01em;
  white-space: pre-wrap;
}

@media screen and (max-width: 1400px) {
  .option_description {
    font-size: 1rem;
    height: 6.25rem;
  }
}

@media screen and (max-width: 1200px) {
  .option_description {
    height: 10rem;
  }
}

.example {
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    background: url('/images/bg_workflow.svg') no-repeat center bottom;
    top: -173px;
    left: -319px;
    width: 940px;
    height: 1050px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 477px;
    left: 0;
    width: 300px;
    height: 300px;
    background: url('/images/telegram_space.svg') no-repeat center center;
    z-index: 2;
  }
}

@media screen and (max-width: 992px) {
  .example {
    &::before {
      top:60px;
      zoom: 0.7;
    }
  }
  
}

.phone {
  position: relative;
  z-index: 1;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 183px;
  height: 160px;
  right: 1.9375rem;
  border-radius: 0.5rem;
  overflow: hidden;

  .today {
    width: 4.5rem;
    height: 1.9375rem;
    padding: 0.4375rem 0.8125rem;
    gap: 0px;
    border-radius: 6.25rem;
    background-color: #434343;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.01em;
    color: #F5F5F580;
    margin-right: 86px;
  }

  .start {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.21rem;
    letter-spacing: 0.02em;
    text-align: left;
    color:  #35A3FF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.4375rem;
    height: 2.6875rem;
    background: #373737;
    border-radius: 1.25rem 0.5rem 1.25rem 1.25rem;
  }

  .welcome {
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 21.286rem;
    letter-spacing: 0.02em;
    text-align: left;
    display: inline-flex;
    padding-left: 0.75rem;
    align-items: center;
    width: 19.94rem;
    height: 2.81rem;
    background: #555;
    border-radius: 0.5rem 1.25rem  1.25rem 1.25rem;
  }
}