.title {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 2.8875rem;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.description {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
}

@media screen and (max-width: 992px) {
  .description {
    white-space: normal;
  }
}