.question {
  border-bottom: 1px solid rgba(11, 11, 15, 0.12);
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-align: left;
}

.content {
  display: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
  text-align: left;
}

.show {
  display: block;
}

.btn {
  display: block;
  height: 1.125rem;
  width: 1.125rem;
  flex-shrink: 0;
  position: relative;

  &.minus {
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      background: var(--black-text);
      left: 0;
      right: 0;
      top: calc(50% - 1px);
      border-radius: 50%;
      overflow: hidden;
    }
  }
  &.plus {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      background: var(--black-text);
      top: 0;
      bottom: 0;
      left: calc(50% - 1px);
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
