.submenu {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  border-top: 1px solid var(--white);
  
  & .home {
    font-weight: 500;
    color: inherit;
    text-decoration: none;
  }
}

.black_bg {
  color: var(--black-text);
  background: var(--white);
}
.container {
  opacity: 0.8;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}