.wrap {
  padding: 12.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}

@media screen and (max-width: 1400px) {
  .wrap {
    padding: 6.25rem 0;
  }

}

.container {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.standards {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.standard {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: calc(33.3333% - 1.25rem);
}

@media screen and (max-width: 768px) {
  .standards {
    flex-direction: column;
  }
  .standard {
    width: 100%;
  }
}

.standard__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
}

.standard__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
}

.link__audit {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 65px;
  text-decoration: none;
  background: var(--btn-gradient);
  padding: 0.875rem 2rem;
  border-radius: 34px;
  color: var(--white);
  &:hover {
    box-shadow: 0px 0.625rem 3.75rem 0px rgba(0, 117, 223, 0.4), 0px 2px 1.25rem 0px rgba(0, 215, 203, 0.1);
  }
}

.article {
  position: relative;
  z-index: 1;
  background: var(--white);
  border-radius: 2.25rem;
  padding: 5.94rem 4.69rem;
  color: var(--black-text);
  & b {
    font-weight: 800;
  }

  & p, & ul {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.01em;
    text-align: left;
  }
  & li {
    margin-bottom: 1.25rem;
    padding-left: 2.125rem;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      left: 0;
      background: url('/images/check.svg') no-repeat 50% 38%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .article {
    padding: 3.75rem 2.5rem;
  }
}

.article_title {
  font-size: 42px;
  font-weight: 700;
  line-height: 2.88rem;
  text-align: left;
  margin-bottom: 2.5rem;
}

.article_subtitle {
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

.article_content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 34rem;
}

.article_wrap {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.article_preview {
  position: relative;
  padding-right: 3.94rem;
  padding-top: 3.125rem;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 482px;
    height: 447px;
    top: 150px;
    right: 0;
    background: url('/images/planets_space.svg') no-repeat 50% 50%;
    z-index: 0;
  }
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 45px;
    height: 45px;
    top: 268px;
    right: 433px;
    background: url('/images/logo.svg') no-repeat center center white;
    background-size: 70%;
    border-radius: 50%;
    z-index: 0;
  }
  .phone {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 1200px) {
  .article_preview {
    zoom: 0.9;
    margin-right: -50px;
  }
}

.article_preview_chat {
  position: absolute;
  width: 360px;
  right: 119px;
  top: 320px;
  z-index: 1;
}

.currencies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.28rem;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--black-text);
  background: var(--grey-blue);
  padding: 0.75rem 1rem;
  border-radius: 3.125rem;
}

.message {
  background: #555555;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem 1.25rem 1.25rem 1.25rem;
  color: var(--white);
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.29rem;
  letter-spacing: 0.01em;
  text-align: left;  
  margin-bottom: 0.9375rem;
}


.bg_line {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    display: block;
    width:1920px;
    height: 734px;
    background: url('/images/bg_line_1.svg') no-repeat 50% 50%;
    z-index: 0;
    top: -495px;
    left: calc(50% - 975px);
  }
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 1042px;
    height: 876px;
    background: url('/images/bg_line_2.svg') no-repeat 50% 50%;
    z-index: 0;
    right: calc(50% - 0px);
    bottom: -557px;
  }

}
.partners_title {
  font-size: 42px;
  font-weight: 700;
  line-height: 2.89rem;
  text-align: center;
  padding-top: 3.75rem;
  margin-bottom: 5rem;
}
