:root {
  --background: #0B0B0F;
  --black: #0B0B0F;
  --white: #ffffff;
  --background-light: #ffffff;
  --blue: #106EBD;
  --grey-blue: #ACC8DF;
  --black-text: #21272A;
  --btn-gradient: linear-gradient(90deg, #0F6ABD 0%, #0FBDB3 100%);
  --red: #FF0000;
  --xxl: 1400px;
  --xl: 1200px;
  --lg: 992px;
  --md: 768px;
  --sm: 576px;
  font-size: 16px;
}

@media screen and (max-width: 1400px) {
  :root {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  background-color: var(--grey-blue);
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-blue);
  border-radius: 4px;
}


html {
  overflow-x: hidden;

}

body {
  margin: 0;
  background: var(--background);
  color: var(--white);
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'content' 'footer';
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes bulb-left {
  0% {
    opacity: 0;
    zoom: 0.5;
  }
  50% {
    opacity: 1;
    zoom: 1;
  }
  100% {
    opacity: 1;
    zoom: 1;
  }
}

@keyframes bulb-right {
  0% {
    opacity: 0;
    zoom: 0.5;
  }
  30% {
    opacity: 0;
    zoom: 0.5;
  }
  100% {
    opacity: 1;
    zoom: 1;
  }  
}

.home {
  &::after, &::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('/images/bg_main.svg');
    background-repeat: no-repeat;
    z-index: 0;
    top: 0;
  }

  &::before {
    background-position: -280px 0;
    height: 545px;
    width: 745px;
    left: calc(50% - 700px - 362px);
    animation: bulb-left  2s linear;
  }

  &::after {
    background-position: -1674px 0;
    height: 930px;
    width: 1000px;
    right: calc(50% - 700px - 631px);
    animation: bulb-right 2s linear;
  }
}

@media screen and (max-width: 1400px) {
  .home::before {
    left: calc(50% - 600px - 362px);
  }
  .home::after {
    right: calc(50% - 600px - 631px);
  }
}


@media screen and (max-width: 1200px) {
  .home::before {
    left: calc(50% - 500px - 362px);
  }
  .home::after {
    right: calc(50% - 500px - 631px);
  }
}

@media screen and (max-width: 992px) {
  .home::before {
    left: calc(50% - 350px - 362px);
  }
  .home::after {
    right: calc(50% - 350px - 631px);
  }
}

@media screen and (max-width: 768px) {
  .home::before {
    left: calc(50% - 300px - 362px);
  }
  .home::after {
    right: calc(50% - 300px - 631px);
  }
}