.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.3125rem;
}
.info {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--white);
}
.title {
  font-weight: 700;
}

.links {
  display: flex;
  flex-direction: column;
  width: 220px;
  gap: 0.5rem;
}

.link {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--white);
  text-decoration: none;
  border-radius: 1.25rem;
  padding: 0.5rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 0.875rem;
  letter-spacing: 0.01em;
}

.support {
  background: var(--white);
  color: var(--black);
}



.mail {
  color: var(--white);
}