.container {
  position: relative;
  padding-top: 2.5rem;
  max-width: 1200px;
  & > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 395px;
    left: -590px;
    width: 932px;
    height: 912px;
    background: url('/images/bg_referral.svg') no-repeat;
    background-position: -165px -660px;
    z-index: 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: -90px;
    right: -810px;
    width: 984px;
    height: 1050px;
    background: url('/images/bg_referral.svg') no-repeat;
    background-position: -1748px -121px;
    z-index: 0;
  }
}

.info {
  width: 640px;
  margin: 0;
  margin-bottom: 200px;
}

.explanation {
  background: var(--white);
  color: var(--black-text);
  border-radius: 2.0625rem;
  padding: 8.75rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 100px;
    top: -528px;
    width: 312px;
    height: 612px;
    background: url('/images/phone_reff.svg') no-repeat center center;
    background-size: contain;
    z-index: 1;
    border-radius: 2.25rem;
  }

}

.explanation_title {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 2.89rem;
  text-align: left;
  margin-bottom: 2.5rem;
}

.explanation_text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
  text-align: left;
  padding: 1.25rem 0;
  border-top: 1px solid  #0B0B0F33;
  &:first-child {
    padding-top: 0;
    border-top: none;
  }

  & b {
    font-weight: 700;
  }
  & a {
    color: var(--blue);
    font-weight: 700;
  }
}

.exemplar {
  padding: 8.75rem 8.75rem 12.5rem;
  background: url('/images/bg_referral.svg') no-repeat;
  background-position: center -1590px;
}

.exemplar_title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

.exemplar_content {
  display: flex;
  gap: 0.625rem;
  & > div {
    flex-grow: 1;
    flex-basis: 0;
    
    &:last-child {
      text-align: center;
    }
  }
  & P {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 1.25rem;
    & b {
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.5rem;
      text-align: left;
    }
  }
}