.container {
  position: relative;
  padding-top: 2.5rem;
  
  & > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 395px;
    left: -590px;
    width: 730px;
    height: 912px;
    background: url('/images/bg_referral.svg') no-repeat;
    background-position: -165px -660px;
    z-index: 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: -90px;
    right: -810px;
    width: 984px;
    height: 1050px;
    background: url('/images/bg_referral.svg') no-repeat;
    background-position: -1748px -121px;
    z-index: 0;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    &::before {
      top: 200px;
    }
    &::after {
      top: -10px;
      right: -610px;
    }
  }
}

.info {
  width: 100%;
  max-width: 640px;
  margin: 0;
  margin-bottom: 200px;
}
@media screen and (max-width: 1200px) {
  .info {
    max-width: 550px;
  }
}

@media screen and (max-width: 992px) {
  .info {
    max-width: 420px;
  }
}

@media screen and (max-width: 768px) {
  .info {
    max-width: 100%;
  }
}

.explanation {
  background: var(--white);
  color: var(--black-text);
  border-radius: 2.0625rem;
  padding: 8.75rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: 100px;
    top: -528px;
    width: 312px;
    height: 612px;
    background: url('/images/phone_reff.svg') no-repeat center center;
    background-size: contain;
    z-index: 1;
    border-radius: 2.25rem;
  }
}

@media screen and (max-width: 1200px) {
  .explanation {
    padding: 120px 2.5rem 2.5rem;
    &::before {
      right: 50px;
    }
  }
}
@media screen and (max-width: 992px) {
  .explanation {
    &::before {
      right: 15px;
    }
  }
}
@media screen and (max-width: 768px) {
  .explanation {
    padding-top: 490px;
    &::before {
      right: calc(50% - 156px);
      top: -130px;
    }
  }
}

.explanation_title {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 2.89rem;
  text-align: left;
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 768px) {
  .explanation_title {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
  }
  
}

.explanation_text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
  text-align: left;
  padding: 1.25rem 0;
  border-top: 1px solid  #0B0B0F33;
  &:first-child {
    padding-top: 0;
    border-top: none;
  }

  & b {
    font-weight: 700;
  }
  & a {
    color: var(--blue);
    font-weight: 700;
  }
}

.exemplar {
  position: relative;
  padding: 8.75rem 8.75rem 12.5rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 600px);
    height: 540px;
    width: 1200px;
    background: url('/images/bg_referral.svg') no-repeat;
    background-position: center -1590px;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 992px) {
  .exemplar {
    padding: 2.5rem;
    &::before {
      zoom: 0.9;
    }
  }
}
@media screen and (max-width: 768px) {
  .exemplar {
    padding: 2.5rem;
    &::before {
      zoom: 0.7;
    }
  }
}

@media screen and (max-width: 576px) {
  .exemplar {
    padding: 2.5rem;
    &::before {
      zoom: 0.5;
    }
  }
}

.exemplar_title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

.exemplar_content {
  display: flex;
  gap: 0.625rem;
  & > div {
    flex-grow: 1;
    flex-basis: 0;
    
    &:last-child {
      text-align: center;
    }
  }
  & p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 1.25rem;
    & b {
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.5rem;
      text-align: left;
    }
  }
}

@media screen and (max-width: 768px) {
  .exemplar_title {
    text-align: center;
  }
  .exemplar_content {
    flex-direction: column;
    & p, & b, & div {
      text-align: center;
    }
    & b {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
  }
}