.box {
  width: 11.25rem !important;
  height: 11.25rem !important;
  position: relative;
  margin: 0 auto;
}
.partner {
  display: block;
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 50%;
  background: var(--background);
  background-position: center center;
  background-size: contain;
  overflow: hidden;
  box-sizing: border-box;
}

@media screen and (max-width: 576px) {
  .box {
    width: 7.5rem !important;
    height: 7.5rem !important;
  }
  .partner {
    width: 7.5rem;
    height: 7.5rem;
  }
  
}

.link {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  box-sizing: border-box;
  border: 2px solid var(--white);
  background: url('/images/arrow-right-white.svg') no-repeat center center var(--background);
  background-size: 50%;
  z-index: 1;
  cursor: pointer;
}

.wrap {
  margin: 0 auto;
  width: 100%;
  & :global(.react-multiple-carousel__arrow) {
    border: 2px solid var(--white);
  }
  & :global(.react-multiple-carousel__arrow--left) {
    left: 0;
  }
  & :global(.react-multiple-carousel__arrow--right) {
    right: 0;
  }
  & :global(.react-multi-carousel-dot button) {
    box-sizing: border-box;
    background: transparent;
    border-color: var(--white);
  }
  & :global(.react-multi-carousel-dot.react-multi-carousel-dot--active button) {
    background: var(--btn-gradient);
    border: 0;
    height: 16px;
    width: 16px;
  }

}

@media screen and (max-width: 768px) {
  .wrap {
    padding-bottom: 2.5rem;
  }  
}

@media screen and (max-width: 576px) {
  .wrap {
    width: calc(400px - 2rem);
  }
}

@media screen and (max-width: 400px) {
  .wrap {
    width: calc(300px - 2rem);
  }
}
