.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.btn_nav {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
  padding: 0.625rem 1.25rem;
  border-radius: 1.25rem;
  font-size: 1rem;
  letter-spacing: 0.02em;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    transition: all 0.7s;
  }
  &.active {
    background: var(--btn-gradient);
    opacity: 1;
  }
}

@media screen and (max-width: 1400px) {
  .nav {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}


