.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn_nav {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  letter-spacing: 0.02em;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    transition: all 0.7s;
  }
  &.active {
    background: var(--btn-gradient);
    opacity: 1;
  }
}

