.container {
  max-width: 1200px;
  position: relative;

  & > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 238px;
    left: -575px;
    height: 1000px;
    width: 817px;
    background: url('/images/bg_faq.svg') no-repeat;
    background-position: -180px -530px;
    z-index: 0;

  }

  &::after {
    content: '';
    position: absolute;
    height: 1322px;
    width: 1119px;
    top: -303px;
    right: -454px;
    background: url(/images/bg_faq.svg) no-repeat;
    background-position: -1231px 0;
    z-index: 0;
  }
}

.preview {
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
  margin-bottom: 7.5rem;
}

.info {
  padding-top: 50px;
}

.image {
  flex-shrink: 0;
  width: 440px;
  height: 350px;
  background: url('/images/faq_image.svg') no-repeat center center;
}

.questions {
  background: var(--white);
  color: var(--black-text);
  padding: 7.5rem 8.75rem;
  border-radius: 2.25rem;
}

.questions_title {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 2.875rem;
  text-align: left;
  margin-bottom: 2.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 8.75rem;
  align-items: center;
}

.btn {
  display: inline-flex;
  text-decoration: none;
  background: var(--btn-gradient);
  align-items: center;
  gap: 1.25rem;
  padding: 0.875rem 2rem;
  border-radius: 2.125rem;
  color: var(--white);
  &:hover {
    box-shadow: 0px 0.625rem 3.75rem 0px rgba(0, 117, 223, 0.4), 0px 2px 1.25rem 0px rgba(0, 215, 203, 0.1);
  }
}

.leave_question {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

.leave_question_description {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
}